@import "tailwindcss";

@theme{
 --color-primary: #00b207;
 --color-badgered: #ea4b48;
 --color-badgeblue: #2388ff;
 --text-hsize: 32px;
 --font-pop: "Poppins", sans-serif;
 --color-gry: #666666;
 --color-brdr: #E6E6E6;
 --color-logoc: #1a1a1a;
 --color-subb: #333333;
}